* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --main-background: #000222
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: white;
  background: var(--main-background);
}

a {
  color: inherit;
  text-decoration: none;
}